.DS_Store
Thumbs.db
.env
*.md
!README.md
*.sqlite3
*.db
*.pyc
*.log
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
env/
staticfiles/
media/
.vscode/
.idea/
node_modules/
.next/
dist/
build/
coverage/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
out/
dist/
coverage/